<header>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <div >

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:  #044182; ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a href="#" class="navbar-brand">
          <img src="assets/12.png" height="56" alt="LIC">
        </a>
        
   
       <h4 class="mx-5 px-5 text-center text-light " > <a class="text-light" href="tel: +12"><img src="assets/68.png" height="36" alt="LIC">8709263126</a> </h4>
        <ul class="navbar-nav ml-auto px-5 mt-2 mt-lg-0">
          <li class="nav-item ">
            <a class="nav-link text-light" href="#section">Home </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-light" href="#section1">Reward</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#section2">procedure</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-light" href="#section3">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#section4">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="https://drive.google.com/file/d/1XJ2ObZ10uFH6NidoCTvzz5G1byxoL4HY/view">Download PDF</a>
          </li>
          
         
        </ul>

      </div>
    </nav>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active col-sm-12 col-md-12">

          <img class="d-block w-100 img-fluid" src="assets/37.jpg?auto=yes&bg=777&fg=555&text=First slide" alt="First slide">

        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img-fluid" src="assets/785.jpg?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 img-fluid" src="assets/798.jpg?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">
        </div>
        
        
        
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</header>






<div class="jumbotron jumbotron-fluid  text-left text-dark  text-bold " style="background-color: #FEFCFF; ">
  <div class="container  " >
    <div class="row">
      <div class="col-sm-8 col-md-8">
    <h2 class="mtext-primary" >Do you want to become an Agent in LIC?</h2>
    
    <li>
      For most people who intend to get in touch with an insurance company, the insurance sales agent is essentially the
      first point of contact.
    </li>
    <li>Your job as an agent revolves around assisting individuals, families and businesses choose the right policy to
      financially protect their lives.
    </li>
    <li>
      With the increasing number of opportunities for LIC recruitment you too can specialize in selling LIC's life
      insurance policies.
    </li>
    <li>
      Get in touch and we will be able to help you delve into the process of becoming a successful agent.
    
    </li>
    <p>      </p>
    <p>      </p>
    <p>      </p>
    
  </div>


  <div class="col-sm-3 col-md-3 col-lg-3 ">
    
      <img class="img-fluid mx-auto d-block"  style="width:auto ;height:230px" src="assets/308.png" alt="Card image">
      
    
  </div>


</div>
</div>
</div>

<div class="jumbotron jumbotron-fluid text-left bg-light text-dark ">
  <div class="container ">
    <h1 class="text-center mb-4 pb-4 mtext-primary">Get your LIC Agency today!</h1>
    <div class="card-columns ">



      <div class="card bg-light border-secondary " style="max-width: 40rem;">
        <div class="card-body  text-white">
          
          <div class="p-3 mb-2 mg-primary text-center text-white">WHY JOIN LIC AS AGENT?</div>
          <p class="text-dark">
            LIC is pride of India,Come join us to be a part of…:</p>

              
           <li class="text-dark"> Most trusted brand in India</li>
           <li class="text-dark"> Asset Value more than 31 lakh crores</li>
            <li class="text-dark">  Owner:	Government of India </li>
              <li class="text-dark"> More than 3k offices across the country</li>
                <li class="text-dark"> network of 15 lakh individual agents </li>
                  <li class="text-dark"> More than 290 million policy holders</li>
                    <li class="text-dark"> Holds World record in Claim settlement</li>
                      <li class="text-dark">  total life fund of ₹28.3 trillion</li>
          
        </div>
      </div>







      <div class="card bg-light border-secondary " style="max-width: 40rem;">
        <div class="card-body  text-white">
          
          <div class="p-3 mb-2 mg-primary text-center text-white">Who Can Work</div>
          <p class="text-dark">
            Anybody who wishes to earn some extra income can join LIC as an agent:</p>
            
           <li class="text-dark"> College Boys/Girls</li>
           <li class="text-dark"> Businessmen </li>
            <li class="text-dark">  Housewives</li>
              <li class="text-dark"> Salaried Person</li>
                <li class="text-dark"> Unemployed</li>
                  <li class="text-dark"> Retired Persons</li>
                    <li class="text-dark"> Software Professionals</li>
                      <li class="text-dark"> Bankers</li>
          
        </div>
      </div>


      <div class="card bg-light border-secondary " style="max-width: 40rem;">
        <div class="card-body  text-white">
          
          <div class="p-3 mb-2 mg-primary text-center text-white">If U want to………….</div>
          <p class="text-dark">LIC offers its Agents / Advisors highest Commissions, Unmatchable benefits & allowances among the Insurance sectors.
            </p>

              
           <li class="text-dark"> Earn Unlimited Income</li>
           <li class="text-dark"> Be your own boss</li>
            <li class="text-dark"> Have an Identity</li>
              <li class="text-dark"> Individual business with No initial capital</li>
                <li class="text-dark"> Join highest earning profession </li>
                  <li class="text-dark"> Link with largest Insurer in India</li>
                    <li class="text-dark"> Work as PART/FULL/FLEXI TIME</li>
                      
          
        </div>
      </div>

            

      

    </div> </div> </div> 
    <div id="section1"class="jumbotron   text-left text-white " style="background-color: #044182;">
      <div class="container">
        <h1 class="text-center mb-3 pb-3 text-light">Rewards</h1>
        <div class="card-columns ">



          <div class="card bg-light border-secondary " style="max-width: 90rem;">
            <div class="card-body  text-white">
              
              <div class="p-3 mb-2 mg-primary text-center text-white">Allowances and Advances you can avail</div>
              
    
                  
               <li class="text-dark"> Mobile bill reimbursement</li>
               <li class="text-dark"> Advance for purchase of Car / Bike</li>
                <li class="text-dark">  Advance for purchase of Laptop </li>
                  <li class="text-dark">Interest free advances for festivals</li>
                   
                 <li class="text-dark">Interest free advances for  marriage</li>
            </div>
          </div>


          
          <div class="card bg-light border-secondary " style="max-width: 90rem;">
            <div class="card-body  text-white">
              
              <div class="p-3 mb-2 mg-primary text-center text-white">You also get Special benefits </div>
              
    
                  
               <li class="text-dark"> Gratuity &amp; Pension scheme </li>
               <li class="text-dark"> Pan India Guest house facility</li>
                <li class="text-dark"> Housing loan at concessional rate</li>
                  <li class="text-dark  ">Term Insurance & Medical insurance</li>
                  <li class="text-dark " >Sponsorship to national and international conventions</li>
                   
              
            </div>
          </div>
          
          <div class="card bg-light border-secondary " style="max-width: 90rem;">
            <div class="card-body  text-white">
              
              <div class="p-3 mb-2 mg-primary text-center text-white">Incentives you earn on every sale</div>
              
    
                  
               <li class="text-dark">First commission</li>
               <li class="text-dark"> Bonus commission</li>
                <li class="text-dark">Renewal commission</li>
                  <li class="text-dark">Hereditary commission</li>
                   
              
            </div>
          </div>

        </div>
      </div>
    </div>

          
          <div class="jumbotron  text-left bg-light text-white mb-3 pb-4 ">
            <div class="container  mb-5 pb-5">
              <h2 class="text-center mtext-primary mb-5 pb-5 ">Eligibility & Requirements</h2>
              <div class="row">
                <div class="col-sm-6 border border-dark mb-3 pb-3">
                  <h4 class="text-center text-light mg-primary">Eligibility Criteria</h4>
                  <li class="text-dark mt-3 pb-3">Age -

                    18 Years And Above (There Is No Upper Limit)</li>
                    <li class="text-dark mb-2 pb-2">Min Qualification-

                      10th Pass  </li>
                     </div>


                     <div class="col-sm-6 border border-dark mb-3 pb-3">
                      <h4 class="text-center text-light mg-primary">Documents Required(photo copied)</h4>
                      <li class="text-dark mt-3 pb-3">Education Certificates
                        (10th To Highest)
                        
                          -  Two Copies</li>
                        <li class="text-dark mb-2 pb-2">PAN CARD & Address Proof

                            - Two Copies </li>

                            <li class="text-dark mb-2 pb-2">Passport Sized Photos & ADHAR CARD

                              

                              - Two Copies </li>
                         </div>
                        </div>
                      </div>
                    </div>
                         <div id="section2"class="jumbotron   text-left mg-primary text-white ">
                          <div class="container">
                            <h1 class="text-center mb-3 pb-3 text-light">Procedure</h1>
                            <div class="card-columns ">
                    
                    
                    
                              <div class="card bg-light border-secondary " style="max-width: 90rem;">
                                <div class="card-body  text-white">
                                  
                                  <div class="p-3 mb-2 mg-primary text-center text-white">Step-1</div>
                                  
                                  <div class="card" style="width:auto">
                                    <img class="card-img-top img-center img-fluid" src="assets/91.jpg" alt="Card image" style="width:80%">
                                    <div class="card-body">
                                      
                                      <p class="card-text  text-dark">Register online in the registration page of this website. LIC representative will meet you in person to collect the above mentioned documents and fees.</p>
                                      
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>



                              <div class="card bg-light border-secondary sm-12 md-12 lg-12 " style="max-width: 90rem;">
                                <div class="card-body  text-white">
                                  
                                  <div class="p-3 mb-2 sm-12 md-12 lg-12 mg-primary text-center text-white">Step-2</div>
                                  
                                  <div class="card sm-12 md-12 lg-12" style="width:auto">
                                    <img class="card-img-top img-center img-fluid" src="assets/92.png" alt="Card image" style="width:80%">
                                    <div class="card-body">
                                      
                                      <p class="card-text  sm-12 md-12 lg-12 text-dark">You will be provided training by LIC experts. You will also be provided with training material.

                                        You will then appear for an IRDAI exam conducted by NSEIT.</p>
                                        <p class="text-dark">(It is a computer based exam. All the questions are of Multiple choice type with no negative marking. Securing 17/50 marks is good enough pass exam)  </p>
                                      
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>

                              <div class="card bg-light border-secondary  sm-12 md-12 lg-12" style="max-width: 90rem;">
                                <div class="card-body sm-12 md-12 lg-12 text-white">
                                  
                                  <div class="p-3 mb-2 mg-primary sm-12 md-12 lg-12 text-center text-white">Step-3</div>
                                  
                                  <div class="card" style="width:auto">
                                    <img class="card-img-top img-center img-fluid" src="assets/93.png" alt="Card image" style="width:80%">
                                    <div class="card-body">
                                      
                                      <p class="card-text  text-dark">On successful completion of the examination you will be awarded an LIC agency by the Branch Manager.</p>
                                        <p class="text-dark">You are now good to start your business and earn handsome commissions!.</p>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div id="section8"class="jumbotron  text-center bg-light mtext-primary">
                          <div class="container">
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/szpER2g2N_g" allowfullscreen></iframe>
                            </div>
                            </div>
                          </div>







                    
                        <div id="section3"class="container"style="background-color:  #044182; py-5">
                          <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12">
                                  <h2 class="text-center text-light pt-5 mb-5"> Register Form</h2>
                                  <div class="row">
                                      <div class="col-md-6 col-sd-6 mx-auto">
                                          <div class="card border-secondary">
                                              <div class="card-header">
                                                  <h3 class="mb-0 my-2">JOIN US</h3>
                                              </div>
                                              <div class="card-body">
                                                  <form action="https://formspree.io/xknpwqyy"class="form" method="POST" role="form" autocomplete="off">
                                                    <div class="form-group">
                                                      <div class="input-group">
                                                        <div class="input-group-prepend">
                                                          <span class="input-group-text">
                                                            <span class="fa fa-user"></span>
                                                          </span>                    
                                                        </div>
                                                          
                                                          <input name="name" type="text" class="form-control" id="inputName" placeholder="full name">
                                                      </div>
                                                    </div>
                                                      <div class="form-group">
                                                        <div class="input-group">
                                                          <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                              <span class="fa fa-user"></span>
                                                            </span>                    
                                                          </div>
                                                          
                                                          <input name="email" type="email" class="form-control" id="inputEmail3" placeholder="email@gmail.com" required="">
                                                      </div>
                                                    </div>
                                                      <div class="form-group">
                                                        <div class="input-group">
                                                          <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                              <span class="fa fa-user"></span>
                                                            </span>                    
                                                          </div>
                                                          <input name="mob_no"  type="text" class="form-control" id="inputmobile" placeholder="Mobile no" title="At least 6 characters with letters and numbers" required="">
                                                      </div>
                                                    </div>
                                                      <div class="form-group">
                                                        <div class="input-group">
                                                          <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                              <span class="fa fa-user"></span>
                                                            </span>                    
                                                          </div>
                                                          <input name="alt_mob_no"  type="text" class="form-control" id="inputVerify3" placeholder="mobile no (alternate)" required="">
                                                      </div>
                                                    </div>

                                                      <div class="form-group">
                                                        <div class="input-group">
                                                          <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                              <span class="fa fa-user"></span>
                                                            </span>                    
                                                          </div>
                                                        <input name="address"  type="text" class="form-control" id="inputVerify5" placeholder="Address (area)" required="">
                                                    </div>
                                                  </div>
                                                      <div class="form-group">
                                                          <button type="submit"  value="Send" class="btn btn-success btn-lg float-right">Register</button>
                                                      </div>
                                                  </form>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <!--/row-->
                      
                              </div>
                              <!--/col-->
                          </div>
                          <!--/row-->
                      </div>
                    
                      <!--/container-->
                              
                      <div id="section4"class="jumbotron  text-center bg-light mtext-primary">
                        
                        <div class="container-fluid">
                        <h1 class="text-center">Contact Address</h1>
                        <hr>
                        <div class="row">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.193017478541!2d85.31410432685078!3d23.329210890263063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4e1cc8b90a3c1%3A0xc5a0c9c291e6f881!2sLIC%20of%20India%2C%20Branch%20Office!5e1!3m2!1sen!2sin!4v1600251762724!5m2!1sen!2sin"  width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                          <div class="row text-center">
                            <div class="col-4 box1 pt-4">
                                <a href="tel:+918709263126"><i class="fas fa-phone fa-3x"></i>
                                <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
                                <p class="d-none d-lg-block d-xl-block">8709263126</p></a>
                              </div>
                              <div class="col-4 box2 pt-4">
                                <a href=""><i class="fas fa-home fa-3x"></i>
                                <h3 class="d-none d-lg-block d-xl-block">Address</h3>
                                <span class="d-none d-lg-block d-xl-block">Ankita Kumari</span> 
                                <p class="d-none d-lg-block d-xl-block">LIC of India
                                  Indira place,Hinoo
                                  Ranchi-3</p></a>
                              </div>
                              <div class="col-4 box3 pt-4">
                                <a href="mailto:licadvisorsrecruitment2020@gmail.com"><i class="fas fa-envelope fa-3x"></i>
                                <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
                                <p class="d-none d-lg-block d-xl-block">Licadvisorsrecruitment2020@gmail.com</p></a>
                              </div>
                          </div>
                        </div>
                      </div>


                      <!-- Footer -->
<footer class="page-footer font-large font-light text-light special-color-dark pt-4"style="background-color:  #044182">

  <!-- Footer Elements -->
  <div class="container-fluid">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"style="font-size:20px;color:white;"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"style="font-size:20px;color:white;"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"style="font-size:20px;color:white;"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in" style="font-size:20px;color:white;"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"style="font-size:20px;color:white;"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
   
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
                    


                        


                        
                      

    <!--/container-->
